$orange: #f53b0a;
$green: #bada55;
$blue: #019add;
.welcome-container{
	background: #fff;
	p{margin: 0;}
}
.head{
}
.welcome-logo-full{
	max-width: 25%;
	// position: absolute;
	// bottom: 0;
	// right: 0;
	img{padding: 0;}
}