$orange: #f53b0a;
$green: #bada55;
$blue: #019add;
.card-user{
	.head{

	}
	background: #fff;
	border: 2px solid $green;
	margin: .5em;
	:nth-last-child(1){
		margin-bottom: 0;
	}
	hr{
		border: 1px solid $orange;
	}
}
.card-exam{
	.head{
		background: $orange;
		color: #fff;
	}
	background: #fff;
	border: none;
	margin: .5em;
	:nth-last-child(1){
		margin-bottom: 0;
	}
	hr{
		border: 1px solid $orange;
	}
}